nav{
    background-color: #333;
    overflow: hidden;
}
div .nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 3vh;
}   

button{
    display: flex;
    height: 45px;
    width: 230px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    border-radius: 20px;
    
}
